nav {
  display: inline-flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
  text-transform: lowercase;

  h1 {
    font-size: 1rem;
    text-transform: uppercase;
  }
}
