.imageHolder {
  margin-right: 1rem;
  border: 1px solid #222;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    display: block;
  }
}

#projectNav {
  display: inline-flex;
  margin-bottom: 1rem;
  text-decoration: underline;
  div {
    cursor: pointer;
  }
  div:nth-child(odd) {
    padding-right: 1rem;
  }
}

.projectDescription {
  width: 100%;
  margin-top: 1rem;
  h2 {
    margin-bottom: 1rem;
  }
}

#projectHolder {
  border: solid #ddd;
  border-width: 1px 0;
  padding: 1rem 0;
  display: inline-flex;
  align-items: center;
}

.next {
  margin-left: 1rem;
}

.prev {
  margin-right: 1rem;
}

.next,
.prev {
  font-size: 3rem;
  color: #bbb;
}

.next:hover,
.prev:hover {
  cursor: pointer;
}

#projectGridNav {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.project {
  width: 30%;
  position: relative;
  object-fit: cover;
  border: 1px solid #222;
  margin-top: 1rem;
  margin-right: auto;
  img {
    height: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.8;
  }
  img:hover {
    filter: none;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    opacity: 1;
  }
}

@media only screen and (min-width: 600px) {
  .projectContent {
    display: inline-flex;
  }
  .imageHolder {
    width: 50%;
    max-height: 365px;
  }

  .projectDescription {
    width: 50%;
    margin-top: 0;
    margin-left: 1rem;
  }
}
