// @import "normalize";
// @import "navbar";
// @import "home";
// @import "projects";
// @import "footer";
// @import "about";

* {
  font-family: helvetica, arial, sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  color: #222;
  // background-color: #141414;
  // background-color: #44a3c3;
  background-color: #222;
}

#root {
  width: 100%;
}

a {
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  color: #fff;
}

p {
  max-width: 1000px;
  margin-bottom: 1rem;
  line-height: 1.7rem;
  font-size: 1.2rem;
}

.container {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.App {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section {
  flex-grow: 1;
  width: 100%;
  padding: 0 1rem 1rem 1rem;
  max-width: 1000px;
  padding-top: 2rem;
  background-color: #fff;
  margin: 0 auto;
  border: solid #2265ac;
  border-width: 0 1rem 1rem 1rem;
}
